<pre>
-------...................................../ymmmmmmmmmmmmddddh+:.....................----------------------------------
---...-...................................:ymmmmmdddhhyyyssssyhdy/....................----------------------------------
----.---................................-odmmNmdhys++/////////+ohdy+-....................-------------------------------
------.................................:hmmNNmhs++///::::::::::/odddh:.............................---------------------
------................................-dmNmmhso+///:::::::::::::+ydddh:.....................----------------------------
.---.................................-ymmmdsoo++///:::/:::::::::/sddddh.........................-.----------------------
.....................................sdmdhsooo++//:::::::://////:+hdddd/.............................-----------::::::::
....................................:dmmhysosooso+/////+oyyysssso+sddddy..........-------::::://:::://////++++//////////
----................................/mmmhssyhhhhhhyoo/osyyyysooo++shdmmh::+oossso//::////ossssso/////::::::::-----------
---.............................----odmmdyhhhhyyyhhddshssyyhssoo//shmmmh:-::::-------:----------------------------------
-----------------:::::::::::::::::::/dmmhyyyhhhhyyhds/+yossso+//::oommmy-............:----------------------------------
/////::::::::::::::::---------......-hmmhyssyyyyyhyhs/:os++++///:/+/ymso/.........---:.---------------------------------
--------------......................./hmhyssoossyyhys+:/+oooo+//:::/ods+:.........---:.---------------------------------
-------------.......................-sydhsyssssssyyss+//+//++/:::::/odo/-.........---:----------------------------------
-------------.......................:hyhdsssoooosyyhhysoso+/++/::://od+/:.......-.---:--------------------::::::::::::::
--------------.......................oyhdsssoooosyhyyyhyyyssoo++//+oyh/:-.........---:--------------:::::::::::::-------
-------------........................-sydysssoosyhhyyyyyyysyyyss+osyhh/-.....-..-----:----------------------------------
--------------------------------------+shhyyyssyhdhyso+//o+syhyyoyhhdh/-........-----:--------------:-------------------
------------.-----------------........-/sdhhhyyyyhhyssoo+++++yhhyhdddh/-.......------:--------------:-------------------
------------..-----...................../ddddhhhyyyysssoooo+oydddddddh:-.......------:--------------:-------------------
------------..------....................-ymmmddddhhyyyyhhsoshhdmdddmdh:-.......------:--------------:-------------------
------------..--------.................../dmmmmmdddhhhddhhyhddmmdmmmd+--.....--.-----:--------------:-------------------
-------------.-------------..............-+dmmmmdmddhddhhhyhdddddmmdo--:.-.---.------:--------------:-------------------
:---------------------------..............-/dmNmmmdhddddhhhddddmmmds-.-:..-----------:--------------:-------------------
:--------------------------------..........-+dNmNmddmddddddmdmdmdy+-`.-:-------------:--------------:---------------::-:
:--------------------------------...........-oydmmmmmmmmddmmdddh+-```..--..-------------------------:---------------:--:
::-----------------------------------......-:/+oydmmdmmmdddhyyo-``````..``.--........---------------:--------------:::::
::----------------------------------------:////++osyhhhhyyss+-.```````.............-...-...---------:---------------::::
-:-----------------------------------:::///++/////+/++osss+:..````````--.........................-----------------::::::
----------------------------------::://////++//////:::+sss+-```` ` ``.........```.-....-........`...----------:-::::::::
------------------------------::--::::::::///++/:::::yddhhddo.`` ``.......`..``.....-........```````.---------::::::::::
-:::::::::-:---------------::-----:::::::::://++/:::dmmddyhyss:```.............................``.``...----:::::::::::::
::::::::::::-:::---------.---..-------------:::///:ohdmmyyyy+ss/`......................``......```......--::::::::::::::
::::::::::::::::::::--.---..-.....------------.---:+sddmds+so:::-....-..............`..`.....`.``........--:::::::::::::
:::::::::::::::::::---..--...----...............--:+hdmmmdho+----.-...........................` ...........-::::::::::::
::::::::::::::::::/-.-..--....------.............-/odmmmmddds--................................`............-:::::::::::
/::::::::::::::/:.-:-:-.-.....------............--/yddmmmmdhh/-..................`...........................-::::::::::
/::::::::::://+++/-.---......----.--`..........--:oddddmmmddh+---...-............``````.....````.............-::::::::::
+::::::::::::://++/:-.-....----....-...........--/yhddddmmddhs---...-...........``````````....``...............-::::::::
+:::::::::://::::/-/-....-------.....-.........-:ooyhdddddmdhh-.-...............`````````````.`.................-:::::::
+//::::::::/:++/::.-:..-------------...........-/hhosyhddddddh-.--...............```````````..``.................--:::::
+//::::::://:-//++/-..-:-------------..........-+dddyoyhddddhh/.-................``````````....`-.................---:::
+//::::://o+/---///+/--:::-------..............-sddddhosyhhhhh/---............`.````````....`..`-----............-...-::
+//::::/+/+++:..-:://--::----------............-smdddddyosyhhho---............``````````.```....-//:----..............-:
+//::::/++////::-:::/::++//::--:---............-ymdmddddho+syhs----...........````````````...---//o+::---.....--.......:
+//::://++++++++++++++/+/////::::-----.........-ydmdmmddddy++ss----...........````.`````......-.-/oo+:---....--........-
</pre>
