body {
  background-color: #000;
  /*background-image: url("/assets/images/me.png");*/
  background-size: cover;
  color: #fff;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

code {
  font-family: 'Share Tech Mono', monospace;
  color: #b9ace8;
}

pre > code {
  font-family: 'Noto Sans Mono', monospace;
  color: #fff;
}

hr {
  opacity: .2;
  width: 80%;
  border-color: rgba(255,255,255,.59);
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
}

p {
  color: aliceblue;
}

a {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  color: cyan;
}

blockquote {
  font-family: monospace;
  background-color: darkblue;
  padding: 10px;
  border-radius: 7px;
  border-style: solid;
  border-color: #505050;
  border-width: 1px;
  margin-left: 20px;
} 

blockquote > p {
  color: #aaa;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #b3f2ff;
}

h3 {
  color: #a8dde6;
  margin-top: 40px;
}

h4 {
  color: #cdcdab;
  margin-top: 30px;
}

em {
  color: #8a8a8a;
}

.gray {
  color: rgb(170,170,170);
}

#navcontainer {
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: rgba(0,5,55,.9);
}

#about-image {
  text-align: center;
  margin: auto;
  border-color: #505050;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
} 

#about-image-container {
  text-align: center;
  width: auto;
  height: auto;
}

#navcontainer > nav > a {
  color: #fff;
  font-size: 1.7em;
  margin: 10px;
  text-align: center;
  margin-left: 20px;
}

#navcontainer > nav > a:hover {
  color: cyan;
  background-color: transparent;
}

#postcontainer {
  background-color: rgba(0,5,55,.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px;
  width: 80%;
  border-radius: 7px;
  border-color: rgba(0,0,0,.8);
}

#postcontainer > ul {
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
  padding: 1px 15px 1px 15px;
}

.title {
  font-size: 4em;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.bloglist {
  list-style: none;
  color: rgb(170,170,170);
}

.highlight {
  font-size: 1.4em;
  background-color: #101010;
  color: #d0d0d0;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 7px;
  border-color: #505050;
  border-style: solid;
  border-width: 1px;
  margin-left: 20px;
}

#postcontainer img {
 width: 900px;
 border-color: #505050;
 border-style: solid;
 border-width: 1px;
 border-radius: 7px;
 margin-top: 20px;
} 

.center-image {
 margin: 0 auto;
 display: block;
}

img + em { 
  margin: 0 auto;
  display: block;
  text-align: center;
}

#toc {
  background-color: rgba(0,0,0,.3);
  border-radius: 7px;
  display: table;
  margin: auto;
  padding: 0px 20px 0px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .7em;
}
