body {
  background-color: rgb(85,85,85);
/*  background-image: url("/assets/images/me.png");*/
  background-size: cover;
  color: rgb(0,170,0);
  font-family: 'VT323', monospace;
  font-size: 1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
}

p {
  color: rgb(170,170,170);
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: rgb(0,0,170);
}

a:hover {
  color: rgb(85,255,255);
}

strong {
  color: rgb(255,255,255);
}

blockquote > p {
  color: rgb(0,170,0);
}

h1 {
  text-align: center;
}

.gray {
  color: rgb(170,170,170);
}

#navcontainer {
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: rgb(0,0,0);
}

#about-image {
  text-align: center;
  margin: auto;
} 

#about-image-container {
  text-align: center;
  width: auto;
  height: auto;
}

#navcontainer > nav > a {
  color: rgb(0,170,0);
  font-size: 1.7em;
  margin: 10px;
  text-align: center;
}

#navcontainer > nav > a:hover {
  color: rgb(85,255,85);
  background-color: transparent;
}

#postcontainer {
  background-color: rgb(85,85,85);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px;
  width: 90%;
}

h1 > span {
  font-size: 2.5em;
  text-align: center;
  margin: auto;
}

.bloglist {
  list-style: none;
  color: rgb(170,170,170);
}
