body {
  background-color: #080808;
/*  background-image: url("/assets/images/me.png");*/
  background-size: cover;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
}

p {
  color: aliceblue;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  color: cyan;
}

strong {
  color: rgb(255,255,255);
}

blockquote {
  font-family: monospace;
  background-color: darkblue;
  padding: 10px;
  border-radius: 7px;
} 

blockquote > p {
  color: #aaa;
}

h1 {
  text-align: center;
}

.gray {
  color: rgb(170,170,170);
}

#navcontainer {
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #080808;
}

#about-image {
  text-align: center;
  margin: auto;
} 

#about-image-container {
  text-align: center;
  width: auto;
  height: auto;
}

#navcontainer > nav > a {
  color: #fff;
  font-size: 1.7em;
  margin: 10px;
  text-align: center;
}

#navcontainer > nav > a:hover {
  color: cyan;
  background-color: transparent;
}

#postcontainer {
  background-color: #151515;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px;
  width: 90%;
  border-radius: 7px;
}

.title {
  font-size: 4em;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.bloglist {
  list-style: none;
  color: rgb(170,170,170);
}

.highlight {
  font-size: 1.4em;
  background-color: #101010;
  color: #d0d0d0;
  padding: 10px;
  border-radius: 7px;
}
